.checkoutForm {
  border-radius: 20px;
  border: 1px solid #211e1e;
  padding: 50px;
  margin-top: 25px;
  .formError{
    padding-left: 27px;
  }
  .inputGroup {
    flex-wrap: wrap;
  }
  .cardNumber {
    border: 1px solid #413d3d;
    border-radius: 10px;
    padding-left: 25px;
  }
  .inputButton {
    margin: 10px 0 10px 30px;
    button {
      background: #ff431a;
      width: 105px;
      height: 46px;
      border: none;
      border-radius: 10px;
      font-size: 14px;
    }
  }
}
