.productItem {
  padding: 11px;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.15);
  margin: 30px;
  border-radius: 20px;
  width: 325px;
  .image {
    width: 100%;
    height: 162px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  .detail {
    padding: 23px 0 15px 20px;
    span {
      &:first-child {
        font-size: 18px;
      }
      &:last-child {
        font-size: 30px;
      }
    }
  }
}
